<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Closed for Remodeling</title>
  </head>
  <body>
    <h1>Pardon Our Dust!</h1>

<p>
  We are making the site even better. We will be back soon. 
</p>
{{> footer}}
  </body>
</html>
